@import "../../shared-styles";
@import "../../variables";

.enquiry {
    height:1200px;
  background-image: url("../../assets/mask.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 80px 50px;
  color:white;
}