@import "../../shared-styles";
@import "../../variables";

.enquiry {
    height:1200px;
  background-image: url("../../assets/mask.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 80px 50px;
  color:white;
}

.contact {
  ul li{line-height: 50px; }
 ul li i{
   color:$themecolor2 ;
    margin-right:20px;
    font-size:25px;
  }
  .ig{
    color:#EE6645 !important;
  }
}