@import "../../variables";
@import "../../shared-styles";


.slider-header{
    text-align: center;
}
.slider-container{
    img{
         position: relative;
    width: 100%;
    overflow: hidden;
    height: 100vh;
            object-fit: cover;

    }
}