@import "../../variables";
@import "../../shared-styles";


.slider-header{
    text-align: center;
    margin-top:
}
.slider-container{
    img{
         position: relative;
    width: 100%;
    overflow: hidden;
    height: 40vh;
    border-radius:10px;;
            object-fit: cover;

    }
}