@import "../../shared-styles";
@import "../../variables";


.videoIcon{
    margin-left:45%;
    margin-bottom:10%;
 img{
    height:70px;
    width:70px;
    
    
 }
}
.admission{
    .page-body{text-align:center}
}
.admission-process{
    span{
background
}}