@import "../../../shared-styles";
@import "../../../variables";

.blog-post{
    p{font-size: 20px;line-height:45px;}
    small{color:grey}
/* Quick-zoom Container */
.img-hover-zoom--quick-zoom img {
  transform-origin: 0 0;
  transition: transform .25s, visibility .25s ease-in;
}

/* The Transformation */
.img-hover-zoom--quick-zoom:hover img {
  transform: scale(2);
}


}