@import "../../../shared-styles";
@import "../../../variables";

.blog-post{
    p{font-size: 20px;line-height:45px;}
    small{color:grey}



}

  .zoom{
         overflow: hidden !important;
            margin: 0 auto;
          img {
              transition: transform 0.25s;

            &:hover{
  transform: scale(1.1);

            }
        }
      }
  
  .zoom:hover {
        overflow:hidden;

      transform: scale(1.4);
  
  }