@import "../../shared-styles";
@import "../../variables";



.calendar-container{
    .calendar-box{
background-color:$themecolor;
height:100px;
width:110px;
border-radius: 10px;
color:#fff;
    text-align: center;

    }
    p{
        color:grey;
    }
    strong{
        font
    }
}