@import "../../shared-styles";
@import "../../variables";



.calendar-container{
            text-align:center;

    .calendar-box{
background-color:$themecolor2;
height:100px;
width:110px;
border-radius: 10px;
color:#fff;
    text-align: center;
    padding:10px 0;
            text-align:center;


    }
    p{
        color:grey;
    }
    .calendar-day{
        font-size:35px;
    }
    .calendar-description{
        font-size:20px;
        text-align:center;
    }
}