@import "./variables";


@media screen and (max-width:620px){
    .flexyM{
        display:flex;
    }
    .side-menu{
        display:none !important;
    }
}
@media screen and (min-width:620px){
    .flexy{
        display:flex;
    }
    .spread{
        display:flex;
    }
}

