@import "../../variables";


.css-1uw5bnh{
//    box-shadow:0 0 10px 10px rgb(30,130,205);
   border:solid 10px rgb(30,130,205);
   border-radius:10px
}
.css-qycpmy{
    color:rgb(30,130,205);
    background:#fff;
    width:100%;
    border-right:solid 1px $themecolor2;
    @media screen and (max-width:620px){
        overflow: hidden scroll;
            font-size:8px !important;

    }
}
.css-a5mhaz{
            transition: max-height 0.7s !important;
//  max-height: 0 !important;
 position:relative !important;


}
