@import "../../variables";
@import "../../shared-styles";



.home-page-trans{
    img{
            margin-top:147px;
            height:100% !important;

    }
    .slider-label{
        margin-top:300px;
        font-size:890x
    }
}