@import "../../variables";
@import "../../shared-styles";



.home-page-trans{
    img{
            margin-top:147px;
            height:100

    }
    .slider-label{
        margin-top:500px;
    }
}