@import "../../variables";

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}
.spot{
  width:0 ;
  overflow: hidden;
  transition: .25s ease;
  
}
.read-more-state:checked ~ .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}
.read-more-state:checked ~ .spot{
  width: 100%;
    overflow: visible;

}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
color: $themecolor2;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
  border:solid 1px $themecolor2;
  padding:3px 30px;
  border-radius:7px;
  margin-left:45%;
  margin-bottom:40px;
  &:hover{
    background-color:$themecolor2;
    color:white;
      transition: 1s ease;

  }
}
