@import "../../variables";





.navContainer{
    background:$themecolor !important;
    min-height: 3rem;
    position: fixed;
    z-index: 10000000000000;
    right: 0;
    width: 100% !important;
    top: 0;
    margin-top:5rem;
    @media screen and (max-width: 620px){
    margin-top:0rem;
        min-height: 4.8rem;

    }
    
}


.nav-list{
    display: flex;
    max-width: 100%;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    color: #fff;
    font-family: monserat;
    transform: translateY(54%);
    margin: 0 !important;
}

.nav-list li{
    line-height: 25px;
    // text-align: center;
    margin: 0 0px 0 0px;
    font-size: 14px;
   width:100%;
}

/* .nav-list li a{
    color: #fff;
} */


.nav-item {
    height: auto;
    justify-content: center;
    display: flex;
}
@media screen and (min-width:620px){
.menu-icon{
    display: none !important;
}
}





.nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
    transition: all 0.2s ease-out;

}

.nav-links:hover {
    background-color: #fff;
    text-decoration: none;
    // padding:5px;
    color:$themecolor;
}


@media screen and (max-width: 600px) {
    .ph{
        display: none;
    }

@media screen and (max-width: 960px) {
    .nav-list{
        display: none;
    }
}

    .menu-icon{
        display: block;
    }

    .nav-list{
        display: flex;
        flex-direction: column;
        position: absolute;
        height: 50rem;
        width: 100%;
        max-width: 100% !important;
        // top: 120px;
        transform: translateY(4%);
        opacity: 1;
        right: 100%;
        transition: all .5s linear;
    background-color: $themecolor;
    @media screen and (max-width:620px){
                top: 45px;

    }

    }
.mainMenu li a{
    line-height:20px !important;

}
    .nav-list.active{
        transition: all 0.3s ease-out;
        visibility: visible;
        transition: all .5s linear;
        right: 0;
        /* z-index: 1; */
    }

    .nav-list.active li {
        font-size: 4vw;
        position: relative;
        margin: 30px 0;
    }


    
// .nav-links{
//     display:none;
// }
}




@media screen and (min-width: 620px) {
    .wrapper{
        display:none;
    }
    #mobile-logo{
        display:none;
    }
}


@media screen and (max-width: 620px) {
    .wrapper{
        display:block !important;
    }
    .leave{
        display:none;
    }
}



/*for sidenav*/




/*for sidenav*/

.wrapper{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:$themecolor;
    margin-top:50px !important;
}
.mainMenu{
    width: 250px;
    display: block;
    border-radius: 10px;
    overflow: hidden;
    color:#fff;
        text-align: center !important;

}
.mainMenu a{
  font-size:20px !important;
  font-weight:bold !important;
      font-family: monserat;
    color:#fff; 
}
.item{
    border-top: 1px solid rgb(255,255,255);
    overflow: hidden;
margin: top 0;
line-height: 20px !important;
}
.btn{
    display: block;
    padding: 15px 20px;
    color: #fff;
    position: relative;
    padding-left:5px !important;
    /* text-align:left !important; */
border:none !important;
}

.btn:hover {
   color:#fff !important;
}
.subMenu{
      overflow: hidden;
    background-color:$themecolor2 !important;

    transition: max-height 0.7s;
max-height: 0;
z-index:300000000 !important;
position:relative !important;
text-align: center !important;

}
.subMenu a{
    display: block;
    /* padding: 5px 10px !important; */
    color: #fff !important;
    font-size: 14px !important;
    border-bottom: 1px solid #394c7f;
    position: relative;
    margin-top:5px !important;
    font-weight:bold !important;
text-align: center !important;

}
.subMenu a:before{
    content: '';
    opacity: 0;
    transition: opacity 0.3s;

}
.subMenu a:hover:before{
    content: '';
    position: absolute;
    height: 0;
    width: 6px;
    left: 0;
    top:0;
    opacity: 1;
    /* background-color: #d8d824; */
    border-top: 24px solid transparent;
    border-left: 11px solid #ffffff;
    border-bottom: 24px solid transparent;
}

.subMenu a:hover{
   background-color:rgb(255,255,255);
    transition: all 0.3s;
    border-bottom: 2px solid #394c7f;
}
.subMenu a:last-child{
    border:none;
}
.item:target .subMenu{
    max-height: 300px;
        /* transition: max-height 0.7s !important; */

}




    .menu-icon{
        display: block;
    }


    .fa-times{
        position: relative;
        // float: right !important;
        width: 10%;
    }

    .fa-times, .fa-bars{
        font-size: 30px;
        color: #fff;
        transition: all 1.5ms linear;
        transform: translate(-29px, 17px);
    z-index: 10;
    // float:right;
    }



