@import "../../shared-styles";
@import "../../variables";


.holder2 {
  position: relative;
  img{border-radius: 10px;}
  &hover
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay2 {
  position: absolute;
 bottom:54px;
  color: #f1f1f1;
  width: 60%;
  opacity:1;
  color: white;
  font-size: 27px !important;
  padding: 40px ;
  text-align:center !important;left:10%;
  @media screen and (max-width:620px){
    left:16%;
     font-size: 30px !important;
  }
}
@media screen and (max-width:620px){
  .link-imgs{
    padding:20px;
  }
  .holder2{
        margin-top:20px;

  }.holder-up{
        margin-top:-70px;

  }
}