@import "../../shared-styles";
@import "../../variables";


.message{
  span{color:$themecolor2;}
  strong{font-size:20px;
  color:rgb(98, 97, 97);}
  .message-paragraph{margin-left: 30px; margin-top: 98px;
  @media screen and (max-width:620px{
    margin-left: 0px;
  }
  }
}