@import "../../variables";
@import "../../shared-styles";




.testimonial{
    margin-top:
    h1{
    margin-bottom:30px;
font-weight:bold;}
.testimonial-massage{
 margin-top:130px;

    margin-left:60px;
    p{line-height:35px;};
    
}
}
