@import "../../variables";
@import "../../shared-styles";




.testimonial{
    h1{
    margin-bottom:30px;
font-weight:bold;}
.testimonials-massage{
            margin-top:230px;

    margin-left:60px;
    p{line-height:35px;};
    
}
}
