@import "../../shared-styles";
@import "./overides";
@import "../../variables";

.image-tab {
  img {
    width: 100%;
    border-radius: 10px;
  }
  .tab-logo{
    width:10% ;
    margin-left:43%;
        margin-top: 300px;
        margin-bottom: 30px;
@media screen and (max-width:620px){
    width:50% ;
    margin-left:25% !important;

}
  }
  .sect1 {
    margin-top: -350px;
  }
  .sect2 {
    margin-top: -350px;
  }
  .shift1 {
    margin-left: 50px;
  }
  .shift11 {
    margin-left: -50px;
  }
  .shift3 {
    margin-left: -35px;
  }
  .shift33 {
    margin-left: 60px;
  }
  .shift4 {
    margin-left: 10px;
  }
  .shift44 {
    margin-left: -60px;
  }
  .tabb {
  }
}
.shift2 {
  // margin-right:0px !important;
}
.shift22 {
  margin-left: -80px !important;
}
.content2 {
  img {
    width: 100%;
    // height:40%;
  }
}
@media screen and (max-width: 620px){
  .sect1 {
    margin-top: 0 !important;
  }
  .sect2 {
    margin-top: 0 !important;
  }
  .shift1 {
    margin-left: 0 !important;
  }
  .shift11 {
    margin-left: 0 !important;
  }
  .shift3 {
    margin-left: 0 !important;
  }
  .shift33 {
    margin-left: 0 !important;
  }
  .shift4 {
    margin-left:0 !important;
  }
  .shift44 {
    margin-left: 0 !important;
  }
  .shift22 {
  margin-left: 0px !important;
}
.tab-logo{
    margin-left:0 !important;
        margin-top: 0 !important;

  }
}
@media screen and (max-width:620px){
   .tabb {
    margin-left:21px !important;
  }
}

