@import "../../variables";


.image-tab{
.css-1uw5bnh{
 border:solid 2px rgb(30,130,205);
   border-radius:10px;
       width:300px !important;
margin-left:40%;
// margin-top:10px;
}
.css-qycpmy{
    color:#fff;
    background:#cecfd0;
    width:100%;
           font-size:12px !important;

font-weight:bold;
}
}

