@import "../../shared-styles";
@import "../../variables";



.read-more-link{
  color: $themecolor2;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
}

.read-more {
    border:solid 1px $themecolor2;
  //   margin: 5% 40%;

}