@import "../../shared-styles";
@import "../../variables";


.curriculum{
 img{height: 10px;width: 10px; margin-top:18px}
 ul li{line-height:45px}
}

.read-more-link{
  color: $themecolor2;
  text-decoration: underline;
  letter-spacing: 1px;
  cursor: pointer;
}
.extra-content{
  color: cornflowerblue;
  font-weight: 500;
}
.read-more{
    //   margin: 5% 40%;

}