@import "../../shared-styles";
@import "./overides";
@import "../../variables";

.app-button{
    background-color:$themecolor2;
    color:white;
    padding:10px 90px;
    font-weight:bold;
    border-radius:10px;
}
