@import "../../shared-styles";
@import "./overides";
@import "../../variables";

.app-button{
    background-color:$themecolor;
    color:white;
    padding:15px 30px;
    font-weight:bold;
    border-radius
}
