@import "../../shared-styles";
@import "../../variables";



.read-more-link{
  color: $themecolor2;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
}

.read-more button{
   color: $themecolor2;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
  border: solid 1px $themecolor2;
  padding: 3px 30px;
  border-radius: 7px;
  // margin-left: 45%;
  margin-bottom: 40px;
  &:hover {
    background-color: $themecolor2;
    color: white;
    transition: 1s ease;
  }
}
.read-more {
    text-align: center;
  transition: .25s ease !important;

}
.fadeOut{
     opacity:0;
     width:0;
     height:0;
     transition: width 0.4s 0.4s, height 0.4s 0.5s, opacity 0.4s ease-in-out;
     overflow:hidden;
}
.fadeIn{
     opacity:1;
     width:100%;
     height:100%;
     transition: width 0.4s, height 0.4s, opacity 0.4s 0.4s ease-in-out;
}
